@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.animation-piscaPisca {
    animation: piscaPisca 2s infinite;
}

.vertical-text {
    writing-mode: vertical-rl;
}

@keyframes piscaPisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
